.about-me {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 0px;
  overflow: hidden;
  color: #000;
  @mixin atSmall { 
    padding-top: 50px;
  }

  &__content {
      font-family: 'Open Sans', sans-serif;
      @mixin atMedium { 
          display: flex;
      }
      &--title {
          font-size: 14px;
          text-transform: uppercase;
          font-weight: 300;
          letter-spacing: 4.5px;
          position: relative;
          color: #000;
          @mixin atXSmall { 
            text-align: center;
          }
          @mixin atMedium {
              padding-bottom: 10px;
              line-height: 18px;
          }
      }
      &--subtitle {
          font-size: 20px;
          font-weight: 500;
          line-height: 33px;
          letter-spacing: 1px;
          color: #000;
          @mixin atXSmall { 
            text-align: center;
          }
          @mixin atMedium {
              font-size: 28px;
              line-height: 35px;
              padding-bottom: 10px;
          }
      }
      &--description {
          font-size: 14px;
          font-weight: 400;
          line-height: 25px;
          color: #000;
          @mixin atXSmall { 
            text-align: center;
          }
          @mixin atMedium {
            font-size: 16px;
          }
      }
  }
  
  @mixin atXSmall { 
      &__col-two {
          text-align: center;
          margin-top: 30px;
          img {
              width: 200px;
              height: auto;
          }   
      }
  }


}
