.btn-primary {
  display: inline-block;
  cursor: pointer;
  border-radius: 1px;
  overflow: hidden;
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
  padding: 13px 24px;
  outline: none;
  border-radius: 5px;
  @mixin atXSmall {
    font-size: 12px;
    padding: 10px 10px;
  }

  &--small {
    font-size: .88rem;
    padding: 7px 13px;
    font-weight: 300;
  }

  &-main {
    margin-right: 15px;
    @mixin atXSmall {
      margin-right: 5px;
    }
  }

  &--black {
    border: 2px solid #1A67D3;
    background-color: #1A67D3;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .22);
    transition: 1s;
  }


  &--blue {
    border: 2px solid #1A67D3;
    background-color: #1A67D3;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .22);
    transition: 1s;
  }


  &--white {
    border: 2px solid #fff !important;
    background-color: #fff !important;
    color: #1A67D3 !important;
    transition: 1s;
  }


  &--large {
    font-size: 1.3rem;
    padding: 16px 34px;
    border-radius: 7px;
    @mixin atSmall {
      font-size: 1.9rem;
    }
  }

  &--inactive {
    background-color: transparent;
    cursor: default;
    color: #333;
  }
}

.main-navigation .current-menu-item a {
  color: #1A67D3;
  font-weight: 600;
}
.btn-primary--black:hover {
  background: transparent !important;
  color: #fff !important;
  border: 2px solid #fff !important;

}
.btn-primary--white:hover {
  background-color: transparent !important;
  color: #1A67D3 !important;
  border: 2px solid #1A67D3 !important;
}
.btn-primary--blue:hover {
  background: transparent !important;
  color: #1A67D3 !important;
  border: 2px solid #1A67D3 !important;
}