.contact-section {
    padding-bottom: 60px;
    background-color: #fff;
    @mixin atMedium {    
        padding-bottom: 100px; 
    }
}
.contact__content--title {
    color: #000;
    opacity: .5;
    padding-bottom: 20px !important;
    padding-top: 0px !important;
}
.contact__content--description {
    color: #000;
    opacity: .8;
    padding-bottom:40px;
}