.event-summary {
  position: relative;
  padding-left: 107px;
  min-height: 77px;
  padding-bottom: 1px;
  margin-bottom: 20px;

  &__title a {
    color: #173f58;
  }

  &__date {
    text-decoration: none;
    display: block;
    top: 0;
    left: 0;
    position: absolute;
    padding: 14px 0 11px 0;
    color: #FFF;
    border-radius: 50%;
    width: 80px;
    line-height: 1;
    transition: opacity .33s;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .22);
  }

  &__date:hover {
    opacity: .75;
  }

  &__date--beige {
    background-color: #000;
  }

  &__month {
    display: block;
    font-size: 1.5rem;
    font-weight: 300;
    text-transform: uppercase;
  }

  &__day {
    display: block;
    font-size: 2.02rem;
    font-weight: 700;
  }
}