html {
  scroll-behavior: smooth;
}

body {
  font-weight: 100;
}

.generic-content {
  p, li {
    font-size: 1.15rem;
  }

  blockquote, blockquote p {
    font-size: 1.5rem;
    font-style: italic;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
    margin:0;
  }

  h1 {font-size: 3.6rem}
  h2 {font-size: 3.1rem}
  h3 {font-size: 2.6rem}
  h4 {font-size: 2.1rem}
  h5 {font-size: 1.6rem}
  h6 {font-size: 1.15rem}

  @mixin atSmall {
    h1 {font-size: 6.25rem}
    h2 {font-size: 5rem}
    h3 {font-size: 3.125rem}
    h4 {font-size: 2.4rem}
    h5 {font-size: 1.9rem}
    h6 {font-size: 1.15rem}
  }

}

 h3 {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 10px;
  font-size: 18px;
   @mixin atMedium {
    font-size: 40px !important;
    font-weight: 300;
    letter-spacing: 1px;
    padding: 40px;
   }
  }



