.headline {
  margin: 0;
  padding-bottom: 30px;
  font-family: 'Merriweather Sans', sans-serif;
  font-weight: 400;

  &--large {
    font-size: 3.6rem;
    font-weight: 200;
    @mixin atSmall {
      font-size: 5.25rem;
    }
  }

  &--large-medium {
    font-size: 5rem;
    margin: 0 0 1rem 0;
  }

  &--medium {
    font-size: 1rem;
    @mixin atSmall {
      font-size: 1.5rem;
    }
  }

  &--small-plus {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.6875rem;
    font-weight: 400;
    margin-bottom: 1.9rem;
  }

  &--small {
    font-size: 1.2rem;
    margin-bottom: 1.9rem;
    @mixin atSmall {
      font-size: 1.6875rem;
    }
  }

  &--smaller {
    font-size: 1.5rem;
  }

  &--tiny {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.3875rem;
    margin-bottom: .25rem;
  }

}