.page-banner {
  height: 100vh;
  padding: 20px 0 40px 0;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #fff;
  @mixin atSmall {
    padding: 100px 0 60px 0;
    background-size: contain;
    background-position: right;
  }

  &--description {
    font-size: 20px;
    font-weight: 100;
    line-height: 28px;
    color: #FFF;
    padding-bottom:20px;
    @mixin atSmall { 
      font-size: 36px;
      line-height: 45px;
      max-width: 720px;
    }
  }

  &__overlay {
    position: absolute;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.7) 100%);
    top:0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    @mixin atSmall {
      background: linear-gradient(180deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%);
    }
}

  &__content {
    position: relative;
    z-index: 2;
  }

  &__title {
    font-family: 'Merriweather Sans', sans-serif;
    font-weight: 600;
    font-size: 3rem;
    letter-spacing: 6px;
    margin: 0;
    color: #FFF;
    animation: bounce;
    animation-duration: 2s;
    @mixin atSmall {
      font-size: 5rem;
    }
  }

  &__bg-image {
    opacity: .33;
    background-size: cover;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  &__intro {
    font-weight: 300;
    font-size: 1.2rem;
    line-height: 1.3;
    color: #EDEDED;

    @mixin atSmall {
      font-size: 1.65rem;
    }
  }

  &__intro p {
    margin: 0;
  }

}

.button--place {
  float: left;
}
