.services {
    padding-top: 80px;
    padding-bottom: 50px;
    background-color: #fff;
    overflow: hidden;
    @mixin atXSmall { 
        padding-top: 0px;
        padding-bottom: 0px;
    }
    &__content {
        font-family: 'Open Sans', sans-serif;
        &--title {
            font-size: 14px;
            text-transform: uppercase;
            font-weight: 300;
            letter-spacing: 4.5px;

            @mixin atMedium {
                padding-bottom: 10px;
                line-height: 18px;
            }
        }
        &--subtitle {
            font-size: 25px;
            font-weight: 500;
            line-height: 33px;
            letter-spacing: 1px;
            @mixin atMedium {
                font-size: 40px;
                line-height: 44px;
                padding-bottom: 30px;
            }
        }
        &--description {
            font-size: 16px;
            font-weight: 400;
            line-height: 32px;
            color: #7e7d7d;
        }
    }
        @mixin atXSmall { 
            &__col-two {
                text-align: center;
                img {
                    width: 250px;
                    height: auto;
                }   
            }
        }
        @mixin atMedium { 

            &__col-one {
                  padding-left: 50%;
                  padding-top: 7%;
              
            }
            &__col-two {
                padding-top: 100px;
                float: left;
                padding-top: 30px;
                img {
                    width: 500px;
                    height: auto;
                }
    
            }
        }
        .dots { 
            background-size: contain;            
            top: 0;
            right:-50px;
            width: 35%;
            height: 600px;
            position: absolute;
          
        }
}

.services-one {
    padding-top: 50px;
    padding-bottom: 50px;
    overflow: hidden;
    background-color: #fff;
    @mixin atXSmall { 
        padding-top: 50px;
    }

    &__content {
        font-family: 'Open Sans', sans-serif;
        @mixin atMedium { 
            display: flex;
        }
        &--title {
            font-size: 14px;
            text-transform: uppercase;
            font-weight: 300;
            letter-spacing: 4.5px;
            position: relative;
            @mixin atMedium {
                padding-bottom: 10px;
                line-height: 18px;
            }
        }
        &--subtitle {
            font-size: 25px;
            font-weight: 500;
            line-height: 33px;
            letter-spacing: 1px;
            @mixin atMedium {
                font-size: 40px;
                line-height: 44px;
                padding-bottom: 30px;
            }
        }
        &--description {
            font-size: 16px;
            font-weight: 400;
            line-height: 32px;
            color: #7e7d7d;
        }
    }
    
    @mixin atXSmall { 
        &__col-two {
            text-align: center;
            img {
                width: 250px;
                height: auto;
            }   
        }
    }

    @mixin atMedium { 
        &__col-one {
                width: 50%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                float: left;
                padding-top: 30px;
                margin-right: 5%;
                z-index: 1;
        }
        &__col-two {

            img {
                width: 500px;
                height: auto;
            }
        }
    }
    .dots { 
            background-size: contain;            
            top: 0;
            left:-50px;
            width: 35%;
            height:600px;
            position:absolute;
            z-index: -1;
        }

}