.site-footer {
  padding: 3.5rem 0 0rem 0;
  background-color: #fafafa;
  @mixin atSmall { 
    padding: 6rem 0 0 0;
  }

  p {
    margin: 0px;
    padding: 10px;
  }

  &__inner {
    border-bottom: 1px solid #646464;
    padding-bottom: 2rem;
  }

  .headline {
    color: $black;
    margin-bottom: .33rem;
  }

  &__link {
    font-size: 14px;
    color: #000;
    text-decoration: none;
  }

  &__link:hover {
    color: #646464;
    opacity: 0.8;
    text-decoration: underline;
  }

  &__col-one {
    @mixin atXSmall { 
      display:flex;
      justify-content: center;
    }
    @mixin atMedium {
      text-align: left;
      width: 30%;
      float: left;
      padding-top: 20px;
    }
  }

  &__col-two {
    font-size: 12px;
    display: block;
    padding-bottom: 3px;
    color: #000;
    text-decoration: none;
    font-weight: 100;
    letter-spacing: 2px;
    width: 100%;
    padding-top: 30px;
    text-align: center;
  
   @mixin atMedium {
      width: 20%;
      float: left;
      padding-top: 0px;
    }
  }

  &__col-three {
    font-size: 12px;
    display: block;
    padding-bottom: 3px;
    color: #000;
    text-decoration: none;
    font-weight: 100;
    letter-spacing: 2px;
    width: 100%;
    text-align: center;

    @mixin atMedium {
      padding-bottom: 30px;
    }
  
   @mixin atMedium {
    width: 25%;
    float: left;
   }
   ul {
     padding:0;
   }
  }
  &__col-four {
    color: #000;
    width: 100%;
    text-align: center;
    letter-spacing: 2px;
    
    @mixin atMedium {
      padding-bottom: 30px;
    } 

    ul {
      padding:0;
    }
  } 
  .footer-navigation li{
    list-style: none;
  }
  .footer-navigation a {
    font-size: 12px;
    display: block;
    padding-bottom: 3px;
    color: #000;
    text-decoration: none;
    font-weight: 100;
    letter-spacing: 2px;

  }
  .footer-navigation a:hover {
    color: #646464;
    opacity: 0.8;
    text-decoration: underline;
  }

  &--title {
    font-size: 1rem;
    font-weight: 400;
    padding-bottom: 0px;
    color: #000;
    margin: 20px 0px;
    @mixin atSmall {
      font-size: 1.2rem;
      padding-bottom: 20px;
      margin: 0;
    }
  }
  
}

#cookie-notice .cn-button {
  background-color: $black;
  color: $white;
  text-decoration: none;
  padding: 3px 10px;
}


.site-footer__under__inner {
  display: flex;
  color: #000;
  align-items: center;
  justify-content: center;
  height: 100px;

  p {
    margin: 0;
    cursor: pointer;
  }
  
  &__col-one {
    width: 43%;
    text-transform: uppercase;
    .privacy-policy {
      color: #000;
      font-size: 8px;
      @mixin atSmall {
        font-size: 12px;
      }
    }
    @mixin atSmall {
      width: 33%;
    }
  }
  &__col-two {
    width: 13%;
    text-align: center;
    .fa {
      color: #000;
    }
    @mixin atSmall {
      width: 33%;
    }
  }
  &__col-three {
    font-size: 8px;
    width: 43%;
    text-align: right;
    @mixin atSmall {
      width: 33%;
      font-size: 12px;
    }
    a {
      text-decoration: none;
      color: #000;
    }
}
}

#cookie-notice .cn-button {
  background-color: black;
  color: white;
  text-decoration: none;
  padding: 3px 10px;
}
ul {
  list-style: none;
  .social-icons {
    padding-bottom: 10px;
    padding-top: 10px;
    a {
      font-size: 16px;
      color: #000;
    }
    a:hover {
      color: #646464;
    }
  }
}

.school-logo-text--footer {
  position: relative;
  z-index: 20;
  margin: 0;
  font-size: 1.75rem;
  font-weight: 100;
  line-height: 12px;
  border: 2px solid black;
  padding: 10px 22px;
  @mixin atSmall {
    width: 150px;
  }
  @mixin atMedium {
    padding-top: 10px;
  }
}
.site-footer__col-one {
  @mixin atSmall {
    display:flex;
    justify-content:center;
  }
}
.site-footer__col-one .logo {
  font-size: 12px;
  color: #000;
  font-weight: 100;
  line-height: 14px;
  letter-spacing: 1px;
}
.site-footer__col-one .logo2 {
  display: block;
  font-size: 8px;
  font-weight: 100;
  margin:0;
  padding:0;
}
.site-footer__col-one a {
  text-decoration: none;
  
}
@mixin atMedium { 
  .school-logo-text--footer {
    width: 150px;
  }
  .site-footer__col-one .logo {
    font-size: 16px;
    color: #000;
    font-weight: 100;
    line-height: 18px;
    letter-spacing: 1px;
  }
  .site-footer__col-one .logo2 {
    font-size: 12px;
    font-weight: 100;
    margin:0;
  }
}