.tiles {
    padding-top: 80px;
    padding-bottom: 100px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    @mixin atXSmall {
      padding-top: 50px;
      padding-bottom: 50px;
    }
      .card {
        background: #fff;
        border-radius: 2px;
        display: inline-block;
        height: 250px;
        margin: 1rem;
        position: relative;
        width: 300px;
        padding: 60px 40px;
        display:flex;
        align-items:center;
        justify-content:center;
        text-align: center;

        &-title {
            font-size: 24px;
        }

        @mixin atXSmall { 
          padding: 40px 30px;
        }
      }
      
      .card-1 {
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
        transition: all 0.3s cubic-bezier(.25,.8,.25,1);
      }
      
      .card-1:hover {
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
      }
      .icon {
          font-size: 45px;
        color: #1A67D3;
      }
      
}