.tools {
    padding-bottom: 90px;

    @mixin atXSmall { 
        padding-top: 0px;
        padding-bottom: 0px;
    }

    &--title {
        padding-bottom: 70px; 

        @mixin atXSmall { 
            padding-bottom: 30px; 
        }
    }
    .dots { 
        background-size: contain;            
        top: -200px;
        right: 150px;
        width: 40%;
        height: 400px;
        position: absolute;
        z-index: -1;
      
    }
}

.hero-slider {
    &__description {
        font-size: 16px;
    }

    &__slide {
        @mixin atXSmall {
            text-align: center;
         }
    }

    &__box--min {
        font-size: 28px;
        font-weight: 600;
        margin: 0;
        padding-bottom: 10px;

        @mixin atXSmall { 
         font-size: 20px;
        }
    }
}
