.technology {
    padding-bottom: 70px;
    @mixin atXSmall { 
        padding-bottom: 0px; 
    }

    &--title {
        padding-bottom: 90px;
        @mixin atXSmall { 
            padding-bottom: 40px; 
        }
    }
    .glide__slides {
        display: flex;
        align-items: center;
    }
    .hero-slider__box {
        img {
            width: 200px;
            height: 100px;
            object-fit: contain;
            @mixin atXSmall { 
                width: 100px;
                height: 60px;
            }
        }
    }
}