.price-list {
    padding-top: 70px;
    padding-bottom: 70px;
    text-align: center;
    &--title {
        font-size: 14px;
        text-transform: uppercase;
        font-weight: 300;
        letter-spacing: 4.5px;

        @mixin atMedium {
            padding-bottom: 10px;
            line-height: 18px;
        }
    }

    &--title--two {
        padding-top: 100px;
    }

    &--subtitle {
        padding-top:0;
        padding-bottom: 30px;
        @mixin atXSmall {
           font-size: 22px;
        }
    }
}


.price-list--tiles {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    @mixin atXSmall {
    }
      .card {
        background: #fff;
        border-radius: 2px;
        display: flex;
        justify-content:center;
        height: 350px;
        margin: 1rem;
        position: relative;
        width: 300px;
        padding: 60px 40px;
        text-align: center;

        &-title {
            font-size: 20px;
        }
        &-description{
            font-size: 14px;
        }
        &-description--price {
            color: #1A67D3;
            font-size: 26px;
            font-weight: 600;
        }

        @mixin atXSmall { 
          padding: 40px 30px;
        }
      }
      
      .card-1 {
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
        transition: all 0.3s cubic-bezier(.25,.8,.25,1);
      }
      
      .card-1:hover {
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
      }
      .icon {
          font-size: 45px;
        color: #1A67D3;
      }
      ul {
        margin:0;
        padding-inline-start: 0px;
          li{
              font-size: 14px;
              padding: 5px;
          }
      }
      
}